
.flex-box{
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* background-color: black; */
    height: 45px;
    /* box-shadow: 0 0 0 100vmax black; */
    clip-path: inset(0 -100vmax);
}
.item{
    padding: 10px;
    color:white;
    background-color: blue;
    border-radius: 10px;
}
.item:hover{
    background-color: green;
    border-radius: 10px;
}
